@tailwind base;
@tailwind components;
@tailwind utilities;

.bg1 {
  background: url("/img/Component 3.png");
  background-size: cover;
  background-position: 48%;
}

@font-face {
  font-family: "Stapel";
  src: url("/fonts/Stapel_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "stapelLight";
  src: url("/fonts/Stapel_Text-Light.ttf") format("truetype");
}
